# While loop

In [1]:
i=0
while i < 48:
    if i== 45:
        print("2k21/MKIT/45")
        break
    i+=1
    print(i,end=",")

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,2k21/MKIT/45

In [2]:
#continue
for i in range(1,48):
    if i==30 or i==21 or i==11 or i==17 or i==22:
        continue
    print(i,end=",")

1,2,3,4,5,6,7,8,9,10,12,13,14,15,16,18,19,20,23,24,25,26,27,28,29,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,

In [3]:
t=0
a=int(input('Enter Python Marks '))
b=int(input('Enter Database Marks '))
c=int(input('Enter C.Networking Marks '))
d=int(input('Enter HRM Marks   ' ))
e=int(input('Enter OOAD Marks  ' ))
f=int(input('Enter Profesional P Marks  '))
if a > 49:
    t+=a
if b > 49:
    t+=b
if c > 49:
    t+=c
if d > 49:
    t+=d
if e > 49:
    t+=e
if f > 49:
    t+=f

p=t/600*100
print(p)

Enter Python Marks 70
Enter Database Marks 70
Enter C.Networking Marks 70
Enter HRM Marks   70
Enter OOAD Marks  70
Enter Profesional P Marks  70
70.0