In [1]:
import pandas as pd
import numpy as np

# Task 1: Create a dictionary of city and their respective zip codes. Then ask zip code from user and provide the name of city.

In [2]:
d={'69000':'Mirpurkhas', '1229':'Hyderabad','3445':'Karachi','667':'Lahor' }
a=input("Enter Zipcod ")
print(d[a])

Enter Zipcod 3445
Karachi

# task 2

In [9]:
data = { 'name' : ['Waseem Ali', 'shoaban Ali', 'Waleed','Hammad','Tahseen'],
'first year marks' : ['900', '800', '700','600','500'],
'total Marks' : [1250, 1200, 1100,1150,1050],
'average marks' : [12.3, 11.2,11.1,11.5,10.6]
}

df = pd.DataFrame(data)
df

          name first year marks  total Marks  average marks
0   Waseem Ali              900         1250           12.3
1  shoaban Ali              800         1200           11.2
2       Waleed              700         1100           11.1
3       Hammad              600         1150           11.5
4      Tahseen              500         1050           10.6